/* ad_company.css */
/* Main Section */
.main-company__top{display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 20px 20px 0 20px;}
.top-wrap{display: flex; align-items: center;}
.btn-modal{ width: 216px; height: 77px;}


/* .ad__company_mdal1.css */
/* Main Section */
.modal-top{display: flex; align-items: center; justify-content: space-between;}
.modal-X{color: #797979; font-weight: 100;}
.bottom-list__search-md1 {display: flex; flex-direction: row; align-items: center; gap: 3em; margin-bottom: 1em;}
.search-md1__wrap{place-items: flex-end; display: grid; grid-template-rows: 1fr 1fr; grid-template-columns: 1fr 1fr; grid-auto-flow: row; gap: 2em; padding: 2em;}
.btn__serarch-modal{width: 180px; height: 60px; font-size: 24px;} 
.main__pagewrap {margin-top: 1.5em;}



/* .ad__company_mdal1.css */
/* Main Section */
.bottom-list__search-md2{display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 3em; padding: 3em;}


/* ad_company_complete */
.border-none{border: none;}
.border-bottom{border-bottom: 2px solid #CBCBCB;}
.btn-submit{width: 216px; height: 77px; margin-left: 20em;
            color: #D1372A; text-align: center; font-family: Pretendard; font-size: 24px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.24px;}
