/* Main section*/
/* main__top */
.top-box{margin-right: 40em;}
.top__grid-4items{display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; place-items: center;}
.grid-4items__ellipse{width: 10em; height: 4em; display:flex; flex-direction: row; justify-content: center; align-items: center; border-radius: 35px;}
 /* main__bottom  */
.bottom-list__search {width: 100%; display: flex; flex-direction: row; justify-content: space-between; padding: 64px 0px 32px 0px;}
.search__inputwrap-searchbar {position: relative; width: 430px; height: 62px; flex-shrink: 0;}
.search__inputwrap-circle{position: absolute;  width:2.5em; height: 2.5em; top: 12.5em; left: 25.2em; background-color: #E34230; border-radius: 50px;}
.serch__inputwrap-icon{position: absolute; top:13.3em; left:26em; color:var(--default-white)}
.search__btn{display: flex; align-items:flex-end;}
.btn-btn00{padding-right: 24px;}
.main__couns-pagewrap {width: 100%; height: auto; margin-top: 7em; text-align: center;}


/* ellipse-style */
.ellipse-text00{margin-right: .5em; text-align: center; font-family: Pretendard; font-size: 32px; font-style: normal; font-weight: 700; line-height: normal;}
.ellipse-text01{color: #FFF; text-align: center; font-family: Pretendard; font-size: 40px; font-style: normal; font-weight: 500; line-height: normal;}
.ellipse-style00 {background-color: #F2D1D1; color: #C84A4A;}
.ellipse-style01 {background-color: #C4DDEF; color: #406B8A;}
.ellipse-style02{background-color: #DFD0F2; color: #775A9C;}
.ellipse-style03{background-color: #BFE9B8; color: #598E51;}


