/* Main Section */
.main__bottom-sampleWrite{width: 100%; padding: 2em; vertical-align: middle;}
.form__gridCon-sampleWrite{display: grid; grid-template-columns: 2fr 6fr; gap:2em;}
.gridCon__left-sampleWrite{display: flex; flex-direction: column;  justify-content: space-between; align-items: center; gap: 1em; padding: 2em;}
.gridCon__right-sampleWrite{display: flex; flex-direction: column;  justify-content: space-between; align-items:normal; gap: 1em; padding: 2em;}
.right__grid1-sampleWrite{display: flex; align-items:baseline; gap: 1.2em;}
.right__grid2-sampleWrite, .right__grid3-sampleWrite{display: flex; flex-direction: column; gap: 1.2em;}
.consDoc__chip-group{display: flex; flex-direction: row; align-items: center; gap: .5em; padding: 1em 1em 1em 0;}
.chip-item{ width: 60px; height: 34px;}

.form__submit{display: flex; justify-content: end; margin-top: 3em; gap: 1.5em;}

/* text-style */
.right__title-sampleWrite{color: #333; font-family: Pretendard; font-size: 36px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.36px;}

/* button-style */
.btn__addSample{width: 108px; height: 33px; margin: 1em 0 0 5em;
    color: var(--accent);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.16px;
}
/* input-date-style */
.input__date-sampleWrite{width: 255.912px; height: 50px; border-radius: 5px; border: 0.5px solid #6D7683; background: #FFF;}
/* textarea-style */
.textarea-sampleWrite{width: 100%; min-height: 125px; height: auto; padding: 1.2em 2em; border-radius: 3px; border: 1px solid #333; background: var(--default-white);
    color: #333;
    text-align:start;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;}
